body {
    background-color: black;
    color: white;
    font-family: 'VT323', monospace;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info,
.game {
    background-color: rgb(0, 0, 0);
    font-family: 'VT323', monospace;
    padding-left: 25px;
    padding-right: 25px;
}

.info {
    margin-left: 30px;
    margin-right: auto;
}

.info h1 {
    font-size: 80px;
    margin-top: 0px;
    padding-top: 0px;
    cursor: pointer;
}

.info h4:hover+.hidden {
    cursor: pointer;
    display: block;
}

.game h2 {
    font-size: 18px;
    font-weight: 400;
    padding-top: 20px;
}

.info p {
    font-size: 25px;
}

.game a {
    color: white;
}

.info img {
    width: 160px;
    margin-left: 20px;
    margin-bottom: -5px;
    margin-top: 30px;
}

.hidden {
    cursor: pointer;
    display: none;
    position: absolute;
    background-color: black;
    margin-top: -300px;
    margin-left: 365px;
    padding-right: 15px;
}

ul {
    font-size: 22px;
}

h4 {
    font-size: 20px;
    cursor: pointer;
}

mark {
    background-color: red;
    padding-left: 5px;
    padding-right: 5px;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-top: 25px;
    align-items: right;
    justify-content: right;
    display: flex;
}

#game {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}

.right-side {
    display: flex;
    align-items: right;
    text-align: right;
}

::selection {
    background-color: black; /* WebKit/Blink Browsers */
  }